name: Deploy to Google Artifact Registry

on:
  release:
    types: [published]
  push:
    branches:
      - main
jobs:
  deploy:
    name: Build python package and deploy to Google Artifact Registry
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ github.ref }}
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install setuptools wheel build twine 
          python -m pip install -r requirements.txt
          python -m pip install keyring keyrings.google-artifactregistry-auth
      - name: Build package
        run: |
          python -m build --sdist --wheel --outdir dist/ .
      - id: 'auth'
        uses: 'google-github-actions/auth@v2'
        with:
          credentials_json: ${{ secrets.GCP_SA_KEY }}
      - name: Setup Google Cloud
        uses: 'google-github-actions/setup-gcloud@v2'
      - name: Deploy to Google Artifact Registry
        run: |
          python -m twine upload --repository-url https://${{ vars.GAR_REGION }}-python.pkg.dev/${{ vars.GAR_PROJECT }}/${{ vars.GAR_REPOSITORY }}/ dist/*